@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --colored-0: #fff0e7;
  --colored-1: #ffdecc;
  --colored-2: #ffbd99;
  --colored-3: #ff9d66;
  --colored-4: #ff7c33;
  --colored-5: #ff5b00;
  --colored-6: #cc4900;
  --colored-7: #b34000;
  --colored-8: #993700;
  --colored-9: #662400;

  --monochrome-1: #0d0d0d;
  --monochrome-2: #1a1a1a;
  --monochrome-3: #262627;
  --monochrome-4: #333334;
  --monochrome-5: #404041;
  --monochrome-6: #666667;
  --monochrome-7: #8c8c8d;
  --monochrome-8: #b3b3b3;
  --monochrome-9: #d9d9d9;

  --font-large: 20px;
  --font-medium: 16px;
  --font-small: 12px;

  --primary-color: #000;
  --background-color: #fff0e7;
  --text-color: #333;
  --accent-color: #f19562;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
