body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: calc(2rem + 3vh);
padding-top: calc(2rem + 3vh) ;
}

.choices{
    display: flex;
    gap: 2vw;
}

.choices button{
    width: 10vw;
    min-width: fit-content;
}
