.game {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    position: relative;
}

.square.highlighted::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 0, 0.8);
    border-radius: 50%;
    z-index: 1;
}

.square.highlighted[data-has-piece="true"]::after {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 0;
    border: 3px solid #ff0000;
    box-sizing: border-box;
}

.piece {
    z-index: 2;
    position: relative;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    user-select: none;
}

.valid-move {
    background-color: rgba(255, 255, 0, 0.5) !important;
    border: 2px solid #ffff00;
}

.selected {
    background-color: rgba(0, 255, 0, 0.3) !important;
    border: 2px solid #00ff00;
}

.dark-square {
    background-color: #769656;
}

.light-square {
    background-color: #eeeed2;
}

#console {
    align-self: center;
    text-align: center;
}